spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/phoneshop_studying
    username: phoneshop_studying
    password: 123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
